body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* ABOUT */
.notebook {
    background: url('../img/about_notebook.png');
    background-position: center;
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
}
.about_the_agency {
    position: absolute;
    width: 1199px;
    margin-left: 230px;
    text-transform: uppercase;
    font-weight: lighter;
} 
.about {
    position: relative;
    display: block;
    font-size: 48px;
    color: white;
    background: black;
    width: 590px;
    height: 57px;
    text-align: center;
    letter-spacing: 6px;
    margin: 115px 0px 44px 0px;
}
.welcome {
    font-size: 18px;
    color: #000;
    letter-spacing: 7px;
    margin-bottom: 120px;
    text-transform: uppercase;
}
/* ABOUT */
/* STORY */
.our_story {
    min-width: 1140px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 71px;
    background: #fafafa;
}
.our_story img {
    margin-right: 27px;
    margin-left: 228px;
}
.Story {
    margin-left: 27px;
    margin-right: 234px;
}
.story_title {
    margin-top: 30px;
    font-size: 18px;
    color: #000;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.story1 {
    margin-top: 30px;
    font-size: 14px;
    color: #000;
    opacity: 0.7;
    letter-spacing: 2px;
    word-spacing: 4px;
}
.bottom {
    margin-bottom: 30px;
}
.skills {
    height: 265px;
    border: 1px solid red;
}
/* AWESOME TEAM */
.team {
    background: #fafafa;
    margin-top: 65px;
}
.team-description{
    width: 615px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
}
.team-description-title {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.team-description-text {
    font-family: 'Roboto';
    margin-top: 42px;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
    line-height: 25px;
}
.team-experts {
    display: flex;
    justify-content: center;    
    margin-top: 70px;
    margin-bottom: 75px;
}
.team-experts-albert {
    margin: 0 35px;
}
.team-experts-lian, 
.team-experts-albert, 
.team-experts-jenn {
    background: #fff;
    width: 358px;
}
img {
    margin: 0;
}
.experts-description {
    margin: 35px;
}
.experts-name {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 24px;
    color: black;
    font-weight: 300;
    margin-bottom: 12px;
}
.experts-job {
    font-weight: bold;
    font-size: 16px;
    color: #777777;
}
.experts-about {
    font-weight: 500;
    font-size: 14px;
    color: #9c9c9c;
    margin-top: 25px;
}