body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #fafafa;
}
/* HEADER */
header {
    max-width: 100%;
    height: 11vh;
    background: #fff;
    -webkit-box-shadow: 0px -16px 59px -11px rgba(0,0,0,0.45);
    box-shadow: 0px -16px 59px -11px rgba(0,0,0,0.45);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-logo {
    width: 131px;
    height: 35px;
    background: url('../Lian/img/logo-header.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header-menu {
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
}
.header-menu ul {
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    /* border: 1px solid red; */

}
a {
    text-decoration: none;
}
.header-menu ul a, .header-menu ul li{
    font-size: 14px;
    font-weight: 600;
    color: #888888;
    text-transform: uppercase;
}
.header-menu ul a{
    letter-spacing: 2px;
    margin-right: 41px;
}
.header-menu ul li a:hover {
    color: black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
/* HEADER */
/* SLIDER */
.slider {
    width: 100%;
    min-height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
h1, h2 {
    padding: 0;
    margin: 0;
}
.slider-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 125px;
    margin: 0 auto;
    color: white;
    margin-top:290px;
}
.title, .subtitle {
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
    height: 62px;
    width: 100%;
    font-weight: 100;
}
.title {
    font-size: 48px;
    color: white;
    letter-spacing: 9px;
    word-spacing: -1px;
    background: black;
    text-align: center;
    padding-left: 15px;
    padding-right: 5px;
    font-family: 'Roboto' ,sans-serif;
    font-weight: 300;
}
.subtitle {
    font-size: 18px;
    color: black;
    margin-top: 38px;
    font-weight: 300;
    letter-spacing: 9px;
}
.first, .two {
    width: 100%;
    height: 88vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.first {
    background: url('../Lian/img/slider2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.two {
    background: url('../Lian/img/slider1.png');
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: right;
}

li {
    list-style: none;
}
/* СЛАЙДЕР */
/* МЕНЮ ПОД СЛАЙДЕРОМ */
.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 235px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
}
.product-list a {
    font-weight: 1000;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    opacity: 0.6;
}
.product-list a:hover,
.product-list a:focus
{
    color: black;
    opacity:1;
}
hr {  
    border: none;
    background-color: black;
    width: 40px;
    height: 1px;
    opacity: 0.3;
    transform: rotate(110deg);
    -webkit-transform: rotate(110deg);      
    -moz-transform: rotate(110deg);       
    -ms-transform: rotate(110deg);        
    -o-transform: rotate(110deg);
}
.menu-section {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 22px 0px;
    margin: 39px 50px 0px 50px;
}
/* GALERY  */
.galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.galery .column_1,.galery .column_2,.galery .column_3 {
    width: 361px;
}
.column_1, .column_2 {
    margin-right: 30px;
}
img {
    margin-bottom: 35px;
}
.center-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 75px;
}
.load-more {
    text-transform: uppercase;
    color: white;
    width: 125px;
    height: 30px;
    border-radius: 2px;
    background: #959595;
    outline: none;
    font-weight: 600;
    border-width: 0;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 300px;
    background: #fff;
    border-top: 1px solid white;
}
.footer-logo {
    display: block;
    height: 40px;
    background-image: url(../Lian/img/logo-header.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 64px;
    margin-bottom: 44px;
}
.footer-social {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    height: 61px;
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.social_link {
    width: 60px;
    height: 60px;
    border-top: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0.4;

}
.social_link img{
    width: 20px;
    height: 20px;
    margin:auto 0;
}
.social_link:hover {
    border-top: 1px solid #000;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
}
.copyright {
    text-align: center;
    margin-top: 37px;
    margin-bottom: 47px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    color: #9c9c9c;

}
.copyright span {
    color: black;
}
